* {
    box-sizing: border-box;
    /*padding: 0;*/
    /*margin: 0;*/
}

.container {

}

.margin-header {
    margin: 0em 10em 0em 10em;
}

.margin-article {
    margin: 0em 4em 0em 14em;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;

}
.main-sum {
    text-align: center;
}

h2 {
    text-align: center;
}

hr {
    border: 3px rgb(137, 161, 111) solid;
    opacity: 100;
}

h3 {
    color: rgba(54, 121, 242);
    font-weight: bold;
}

.sub-header {
    margin-bottom: 15px;
}

   .links {
    text-align: center;
}




   li {
       position: relative;
       left: 10px;
   }

   div {
       /*display: inline;*/
       /*width: 40%;*/
   }

