
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Orbitron:wght@400;700&display=swap');

/*font-family: 'Barlow Condensed', sans-serif;*/
/*font-family: 'Orbitron', sans-serif;*/

* {
    font-family: 'Orbitron', sans-serif;
    paddding: 0;
    margin: 0;
}
body {
    background: #3B94D9;
}

.background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
}

/*.top-background {*/
/*    background: rgb(43,145,168);*/
/*    background: linear-gradient(225deg, rgba(43,145,168,1) 0%, rgba(126,195,210,1) 45%, rgba(160,179,184,1) 91%);*/

/*    z-index: -500;*/
/*}*/
.top-background {
    background: rgb(43,145,168);
    background: radial-gradient(circle, rgba(43,145,168,1) 0%, rgba(126,195,210,1) 45%, rgba(160,179,184,1) 91%);
    z-index: -500;
    width: 100%;
}


/*TOP BANNER*/
.forecast-banner {
    background: #dedada;
    width: 100%;
    display: flex;
    align-items: center;
}
.forecast-title {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Orbitron', sans-serif;

}
.logo {
    display: flex;
}
.weather-header{
    background: black;
    color: white;
    padding: 0px 10px;
    margin: auto;

}
.alert-header {
    background: red;
    font-weight: bold;
    padding: 0px 10px;
    margin: auto;
}
.location-tracker {
    margin-top: auto;
    margin-right: 20px;
}
.location-tracker p {
    margin-bottom: auto;
}

/*INPUT SECTION*/
#search-div {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;

}
.input-options {
    display: flex;
    align-items: center;
}

/*ADDED HTML FOR 5 DAY FORECAST*/
#forecast {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: auto;
}
.container-wrap {
    text-decoration: none;
    color: black;
    box-shadow: 3px 5px #24244d;
    border-radius: 20px;
    margin-bottom: 20px;
}
.date-wrap h4{
    /*font-size: 20px;*/
}
.container-wrap:hover{
    transform: scale(1.05);
    z-index: 1000;
    color: black;
    background: rgb(180,160,11);
    background: linear-gradient(100deg, rgba(180,160,11,1) 0%, rgba(255,216,32,1) 18%, rgba(255,252,216,1) 38%, rgba(240,240,15,1) 92%, rgba(222,235,80,1) 100%);
    border: black 2px solid;
}
.container-wrap:focus, .container-wrap:active {
    color: black;
    background: rgb(180,160,11);
    background: linear-gradient(100deg, rgba(180,160,11,1) 0%, rgba(255,216,32,1) 18%, rgba(255,252,216,1) 38%, rgba(240,240,15,1) 92%, rgba(222,235,80,1) 100%);
    transform: scale(1.05);
    z-index: 1000;
    border: black 2px solid;
}
.temp-wrap, .date-wrap{
    display: flex;
    justify-content: center;
}
.weather-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forecast-icon img{
    height: 100px;
    width: 100px;
}
/* CSS FOR ADDED HTML CARDS*/
.card {
    background: rgb(94,96,97);
    background: linear-gradient(60deg, rgba(94,96,97,1) 0%, rgba(113,116,117,1) 10%, rgba(197,200,201,1) 35%, rgba(173,177,177,1) 59%);
    box-shadow: 3px 5px #24244d;
    border: gold 2px solid;

}


/*MAP API*/
#map {
    width: 100%;
    height: 300px;
}

/*SOLO WEATHER CHART*/
#singleForecast {
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.single-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;

}
.solo-container-wrap {
    width: 100%;
    border-radius: 10%;
    margin-top: 50px;
}
.solo-date-wrap {
    display: flex;
    justify-content: center;
}
.solo-temp-wrap {
    display: flex;
    justify-content: end;
    justify-content: space-between;
}


.solo-wind-wrap {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 10px;

}
.solo-humid-wrap {
    display: flex;
    flex-direction: column;
}
.solo-weather {
    display: flex;
    justify-content: start;
    position: relative;
    top: 35px;
    margin-left: 10px;
}

.solo-forecast-icon img {
    height: 150px;
    width: 150px;
}
.solo-forecast-icon {
    display: flex;
    justify-content: center;
}
.gust {
    margin-bottom: auto;
}
.temp-high-low {
    margin-bottom: auto;
}

.testing {
    width: 50px;
    height: 50px;
}

.north {
    rotate: 270deg;
}
.north-east {
    rotate: 315deg;
}
.east {
    rotate: 0deg;
}
.south-east {
    rotate: 45deg;
}
.south {
    rotate: 90deg;
}
.south-west {
    rotate: 135deg;
}
.west {
    rotate: 180deg;
}
.north-west {
    rotate: 225deg;
}

#dataBtn {
    margin-top: 45px;
    margin-left: 10px;
}








.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.pop {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.pop:hover,
.pop:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#myChart {
    width: 500px;
    height: 400px;
}
